th, td
	border: 0px;
	border-collapse: collapse;
	padding: 5px 15px;
	margin:5px 15px;

th
	background-color: #4d80e4;
	color: white;

tr:nth-child(odd)
	background-color: #46b3e6;

td, h4
	color: #black;

td:nth-child(even)
	text-align: right;
