@keyframes bouncing
	0%
		bottom: 0;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	100%
		bottom: 50px;
		box-shadow: 0 50px 50px rgba(0,0,0,0.1);

.tabel
	animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;

th, td
	border: 0px;
	border-collapse: collapse;
	padding: 5px 15px;
	margin:5px 15px;

th
	background-color: #4d80e4;
	color: white;

tr:nth-child(odd)
	background-color: #46b3e6;

td, h4
	color: #black;

td:nth-child(even)
	text-align: right;
